.date-time-box {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#day{
    grid-column: 1;
    grid-row: 1 / span 2;
}
#date{
    grid-column: 2;
    grid-row: 1;
}
#time{
    grid-column: 2;
    grid-row: 2;
    font-size: 80px;
}