body {
  background-color: black;
  color: white;
  background-image: url("./coffee.gif");
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:white;
  display: block;
  transition: 0.5s;
}
a:hover{
  color:red;
  transition: 0.5s;
}
h3 {
  margin: 4px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:4px;
  width: 800px;
  margin: 100px auto;
}

.box {
  padding: 10px;
  border: solid white 1px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.8);
}

.date-time-box{
  grid-column:1/span 2;
  grid-row: 1
}
.weather-box{
  grid-column:3/span 2;
  grid-row: 1;
  text-align: center;
}
.weather-box .temp {
  font-size: 60px;
}
.news-box{
  grid-column:1/span 3;
  grid-row: 2;
}
.new-stories {
  overflow-wrap: break-word;
  overflow-y: scroll;
  max-height: 500px;
}
.story {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: solid #424949 1px;
}
.link-box{
  grid-column:4;
  grid-row: 2
}
