body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:white;
  display: block;
  transition: 0.5s;
}
a:hover{
  color:red;
  transition: 0.5s;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:4px;
  width: 75%;
  margin: 100px auto;
}

.box {
  padding: 10px;
  border: solid white 1px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
}

.date-time-box{
  grid-column:1/span 2;
  grid-row: 1
}
.weather-box{
  grid-column:3/span 2;
  grid-row: 1
}
.news-box{
  grid-column:1/span 3;
  grid-row: 2;
  overflow-wrap: break-word;
  overflow-y: scroll;
  max-height: 600px;
}
.news-box::-webkit-scrollbar {
  display: none;
}
.link-box{
  grid-column:4;
  grid-row: 2
}
.story {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: solid #424949 1px;
}